body {
	font-family: 'Slabo 27px', serif;
	font-size: 100%;
	background-color: #f0f0f5;
}

p {
	font-size: 1em;
	font-family: 'Slabo 27px', serif;
}

h2 {
	font-size: 1.5em;
	font-family: 'Slabo 27px', serif;
	color: #33334d;

}

h3 {
	font-size: 1.25em;
	font-family: 'Slabo 27px', serif;
	color: #33334d;
	text-decoration: underline;

}

h4 {
	font-weight: bold;
	text-align: left;
}

a:link, a:visited {
	display: block;
	color: #33334d;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}

a:hover, a:active {
	color: #33334d;
	text-decoration: underline;
}

table, tr {
	border-collapse: collapse;
	width: 100%;
}

li {
	text-align: left;
}


.td_front {
	border: 1px solid #d1d1e0;
	width: 33%;
	text-align: center;
	background-color: #ffffff;
}

.td_recipe {
	border: 1px solid #d1d1e0;
	width: 20%;
	text-align: center;
	background-color: #ffffff;

}

.td_ingredients {
	padding: 20px;
	width: 25%;
	text-align: center;
	background-color: #ffffff;

}

.td_instructions {
	padding: 20px;
	width: 75%;
	text-align: center;
	background-color: #ffffff;

}

.recipe_pic {
	width: 300px;
	height: 300px;
	margin:auto;

}

#top {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffffff;
	width: 100%;
	text-align: center;
	color: #33334d;
	border-style: solid;
	border-bottom: 1px solid #d1d1e0;
	border-top: none;
	border-right: none;
	border-left: none;
}

#padding {
	padding-top: 100px;
}

#intro {
	text-align: center;
	background-color: #ffffff;
	width: 75%;
	padding: 20px;
	margin: auto;
	color: #33334d;
	border: 1px solid #d1d1e0;

}

#main_body {
	text-align: center;
	width: 90%;
	padding: 20px;
	margin: auto;
	color: #33334d;


}
